@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {

  --font-space: 'Space Grotesk', sans-serif;  

  --color-background: #161616;
  --color-primary: #d1b3f5;
  --color-secondary: #3700b3;
  --color-accent: #03dac6;
  --color-error: #cf6679;
}
