@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --color-background: #161616;
  --color-background-secondary: #272727;
  --color-white: #d6d6d6;
  --color-primary: #d1b3f5;
  --color-secondary: #3700b3;
  --color-secondary-blur: #250374;
  --color-accent: #3fffef;
  --color-error: #cf6679;
}

@keyframes slide-across {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-across {
  animation: slide-across 30s linear infinite;
}

@media (min-width: 1024px) { /* Tailwind's lg breakpoint */
  .animate-slide-across {
    animation-duration: 80s;
  }
}