@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-space: "Space Grotesk", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --color-background: #161616;
  --color-background-secondary: #272727;
  /* --color-white: #d6d6d6; */
  --color-primary: #d1b3f5;
  --color-secondary: #4617b6;
  --color-secondary-blur: #250374;
  --color-accent: #a5fcf4;
  --color-error: #cf6679;
}

@layer components {
  .section-effect {
    @apply my-4 lg:mb-6 rounded-xl bg-background p-4 sm:p-6 md:p-8 lg:p-12 shadow-2xl;
  }
  
  .service-card {
    @apply bg-gradient-to-t from-background to-background-secondary;
  }
}